body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color:black; /* Dark background color */
}

.App {
  text-align: center;
}

.App-header {
  background: rgba(0, 128, 0, 0.5); /* Semi-transparent green background */
  width: 60%;
  margin-top: 5%;
  margin-left: 20%;
  border-radius: 8px;
  padding: 30px;
  backdrop-filter: blur(8px);
  text-align: center;
  font-size: calc(14px + 2vmin);
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 60%;
  margin-left: 20%;
  flex-direction: row;
  align-items: center;
  background: rgba(128, 0, 128, 0.5); /* Semi-transparent purple background */
  border-radius: 8px;
  padding: 20px;
  backdrop-filter: blur(8px);
  justify-self: center;
}

.custom-button {
  background: rgba(255, 69, 0, 0.7); /* Semi-transparent red-orange button color */
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  margin: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0); /* Initial box shadow for subtle effect */
}

.custom-button:hover {
  background: #9b59b6; /* Purple hover effect */
  box-shadow: 0 0 16px rgba(155, 89, 182, 0.7); /* Enhanced shadow on hover */
  color: #fff; /* Text color on hover */
}
